VITE_SUPABASE_URL="https://vtpdslidrncfgfowtjzq.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0cGRzbGlkcm5jZmdmb3d0anpxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NjgzMDAsImV4cCI6MjA5MTA0NDMwMH0.nns-zIJbZ90jhXoFibSVwo6OYtJWUjcgt7iSEqimgeQ"
